.column p {
  color:white;
  font-family: 'Lora', serif;
}

body {
  text-align: center;
  background-color: #052860;
}

h1, h2 {
  color:white;
  font-family: 'Slabo 27px', serif;
}

.sidebar {
  border: solid 5px white;
  background-color: white;
  width:25%;
  align-items: center;
  border-radius:25%;
}

.sidebar ul {
  list-style-type:none;
  text-align:left;
}
